.sectionTitleDefault {
    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        line-height: 150%;


    }

    h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    

    }
}