.sectionTitleDefault {
    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        /* identical to box height, or 32px */
        /* Heading color */


    }

    h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* identical to box height, or 77px */
        /* Heading color */


    }
}