.btnOutlinePrimary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

// for medium devices

@media screen and (min-width: 991px) {
    .btnOutlinePrimary {
        padding: 14px 32px;
        font-size: 16px;
    }

}


// for learge devices
@media screen and (min-width: 1536px) {

    .btnOutlinePrimary {
        padding: 18.6667px 42.6667px;
        gap: 10.67px;
        border-width: 1.33333px;
        border-radius: 5.33333px;
        font-size: 21.3333px;
    }
}